In [1]:
print("halo")

halo

In [2]:
print("selamat datang di kelas python")
print("ini sesi #1")

selamat datang di kelas python
ini sesi #1

# Python Intro
python adalah bahasa pemrograman yang high level, interpreted, scripting.

## Tipe Data
- integer (angka bulat 1,2,3,..)
- float (angka ber desimal 1.0, 2.0, 2.5,..)
- string (text yang dikutip, "" '')
- boolean (True, False)

## Integer
tipe angka yang bulat

In [5]:
print(5464168)
print(type(5464168))

5464168
<class 'int'>

## float
tipe angka yang punya desimal poin

In [6]:
print(5.5)
print(type(5.5))

5.5
<class 'float'>

## String
tipe data bentuk text, harus dikutip baru bisa jadi string '' ""

In [7]:
print("hello world")
print(type("hello world"))

hello world
<class 'str'>

## Boolean
tipe data yang cuma punya dua jenis data saja, `True` atau `False`

In [8]:
print(True)
print(type(True))

True
<class 'bool'>

### Ubah tipe data dari sebuah tipe ke tipe lain
int -> bool, bisa2 saja   
str -> float, error? kadang bisa

In [11]:
print(type(float("123")))

<class 'float'>

In [26]:
print(int(1.0))
print(int(True))
print(int("156"))

1
1
156

In [27]:
print(float(0))
print(float(True))
print(float("1.23"))

0.0
1.0
1.23

In [19]:
print(bool(0))
print(bool(0.0))
print(bool(""))

False
False
False

konsep falsy, data yang 0, kutip kosong "", tidak ada isinya, dianggap False. Selain dari itu, data dianggap True

# Variable
membuat tempat untuk menyimpan data. memberi nama ke data. sehingga bisa dipanggil kembali

In [28]:
45*2

90

In [29]:
jumlah_murid = 45
jumlah_pr = 2
total_pr = jumlah_murid * jumlah_pr

In [30]:
print(total_pr)

90

In [31]:
total_pr = 10

In [32]:
print(total_pr)

10

In [34]:
jumlah_lulus = 5

In [35]:
nama_murid = 123
print(nama_murid)

123

In [36]:
nama_murid = "Andhika Widjaja"
print(nama_murid)

Andhika Widjaja

## Peraturan pembuatan nama variable di Python
contoh, aku mau buat variable untuk "nama makanan"

Konvensi penulisan nama
- camelCase: namaMakanan - untuk pembuatan nama function
- PascalCase: NamaMakanan - untuk pembuatan nama class
- snake_case: nama_makanan - aku rekomen untuk pembuatan nama variable

Peraturan:
- tidak boleh dimulai dengan angka
- gunakan huruf kecil semua
- ganti spasi dengan _

In [37]:
Umur = 25
umuR = 26
_umur = 27
_umur_ = 28
UMUR = 29
uMuR = 30
u_m_u_r = 31
umur_ = 32
Umur_ = 33

In [38]:
umur = 34

In [39]:
print(Umur, umuR, _umur, _umur_, UMUR, uMuR, u_m_u_r, umur_, Umur_, umur)

25 26 27 28 29 30 31 32 33 34

tidak bisa memulai sebuah nama variable dengan angka karena python tidak mengerti
```python
1eh = "halo
```
contoh, pembuatan nama seperti diatas akan jadi error

# Operators di Python
data di python bisa kita ubah/manipulasi dengan menggunakan operator: `+ - * / % **`

In [46]:
a = 10
b = 15

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a**2)
print(a % b)

25
-5
150
0.6666666666666666
100
10

In [47]:
# akar
print(a**0.5)

3.1622776601683795

In [48]:
print(a**-0.5)

0.31622776601683794

In [45]:
print(17 % 5) # 17 bagi 5 sisa berapa? sisa 2, jadi hasil modulo adalah 2

2

# Comparator di Python
kita bisa membandingkan dua data berbeda di python dengan menggunakan: `< <= > >= == !=`

In [50]:
a = 15
b = 15

print(a > b)
print(a >= b)

print(a < b)
print(a <= b)

print(a == b) # apakah sama
print(a != b) # apakah berbeda

False
True
False
True
True
False

hasil dari komparator adalah sebuah Boolean yang menjawab iya `True` atau tidak `False`

# Tipe data berstruktur
- List
- Tuple
- Python

## List
ada banyak data kita kumpulkan di satu variable.

cara bikin list, gunakan `[]`   
untuk setiap data yang mau disimpan di list, pisahkan dengan `,`

cara baca list, gunakan [] lagi tapi kita isi sebuah integer angka index, misalnya `buah_buahan[0]`

cara menambah data ke dalam sebuah list, kita gunakan fungsi `.append`, misalnya kita tambahkan buah manggis ke list buah_buahan maka kita tulis `buah_buahan.append('manggis')`

cara hapus

cara mengubah nama sebuah buah dalam buah_buahan

In [59]:
buah_buahan = ["apel", "jeruk", "pisang"]
print(buah_buahan)
print(type(buah_buahan))

['apel', 'jeruk', 'pisang']
<class 'list'>

In [60]:
# buah pertama dalam list buah_buahan punya index 0
print(buah_buahan[0])

apel

In [61]:
# buah kedua dalam list buah_buahan punya index 1
print(buah_buahan[1])

jeruk

In [62]:
# buah terakhir dalam list buah_buahan punya index -1
print(buah_buahan[-1])

pisang

In [63]:
# tambah buah
buah_buahan.append("manggis")
print(buah_buahan)

# tambah buah di posisi index tertentu
buah_buahan.insert(0, "semangka")
print(buah_buahan)

['apel', 'jeruk', 'pisang', 'manggis']
['semangka', 'apel', 'jeruk', 'pisang', 'manggis']

In [64]:
# hapus
buah_buahan.remove("pisang")
print(buah_buahan)

['semangka', 'apel', 'jeruk', 'manggis']

In [65]:
# ubah apel jadi duku
buah_buahan[1] = "duku"
print(buah_buahan)

['semangka', 'duku', 'jeruk', 'manggis']

```python
buah_buahan[4]
```
ini akan kena error IndexError karena tidak ada data di index ke 4

In [67]:
# total buah yang ada dalam list buah_buahan
print(len(buah_buahan))

4

In [68]:
# mencari apakah ada buah tertentu dalam list buah_buahan, pakain kata kunci "in"
print("apel" in buah_buahan)
print("duku" in buah_buahan)

False
True

In [69]:
# cara gabung isi list, gunakan operator
buah_tambahan = ["nanas", "belimbing"]

semua_buah = buah_buahan + buah_tambahan
print(semua_buah)

['semangka', 'duku', 'jeruk', 'manggis', 'nanas', 'belimbing']

In [73]:
# gunakan sort untuk sortir isi list biar urut
semua_buah.sort()
print(semua_buah)

['belimbing', 'duku', 'jeruk', 'manggis', 'nanas', 'semangka']

In [75]:
# tipe data yang bisa dimasukkan ke dalam list bisa apapun
list_random = [12, 1.4, "halo", ["oh list lagi"], True, False, buah_buahan]
print(list_random)

[12, 1.4, 'halo', ['oh list lagi'], True, False, ['semangka', 'duku', 'jeruk', 'manggis']]

Dokumentasi untuk detail cara tulis python bisa dilihat di:
- https://www.w3schools.com/python/python_lists.asp
- https://docs.python.org/3/tutorial/datastructures.html

# Tuple
mirip list, tapi dibuat menggunakan `()` dan isinya tidak bisa diubah. jadi tidak ada append, insert, dan sort, dll function list lainnya tidak dimiliki tuple.

buat jika isi dari sebuah kumpulan data tidak mau diubah.

In [78]:
nilai_andhika = (60,80,100)
print(nilai_andhika)

# nilai_andhika[0] = 80 #error

(60, 80, 100)

# Dictionary
tipe data berstruktur juga yang isinya punya key dan value, isi nya sepasang2. anggap indexnya bukan angka tapi string.

cara bikin `{}`

In [79]:
murid = {"nama":"andhika", "umur":25, "kode_peserta":"PYTN08001"}
print(murid)

{'nama': 'andhika', 'umur': 25, 'kode_peserta': 'PYTN08001'}

In [80]:
print(type(murid))

<class 'dict'>

cara baca gunakan [] juga tapi isinya bukan index angka, isinya key string

In [81]:
# nama nya murid tadi siapa
print(murid["nama"])

andhika

In [82]:
# edit juga bisa
murid["nama"] = "Andhika Widjaja"
print(murid)

{'nama': 'Andhika Widjaja', 'umur': 25, 'kode_peserta': 'PYTN08001'}

In [83]:
# hapus kita gunakan del
# hapus kode peserta
del murid["kode_peserta"]
print(murid)

{'nama': 'Andhika Widjaja', 'umur': 25}

In [84]:
# nambahin info, misalnya hobi andhika adalah makan, tidur, jalan-jalan
murid["hobi"] = ["makan", "tidur", "jalan-jalan"]
print(murid)

{'nama': 'Andhika Widjaja', 'umur': 25, 'hobi': ['makan', 'tidur', 'jalan-jalan']}

kita bisa cek isi dictionary ini:
- keys nya apa saja? .keys()
- values nya apa saja? .values()
- pasangan key:value nya apa saja? .items()

dia akan kembalikan dalam bentuk list

In [88]:
print(murid.keys())

dict_keys(['nama', 'umur', 'hobi'])

In [86]:
print(murid.values())

dict_values(['Andhika Widjaja', 25, ['makan', 'tidur', 'jalan-jalan']])

In [89]:
print(murid.items())

dict_items([('nama', 'Andhika Widjaja'), ('umur', 25), ('hobi', ['makan', 'tidur', 'jalan-jalan'])])

In [90]:
# kita punya nested dictionary
anak = {}
anak['nama'] = "Sarah"
anak['umur'] = 5

murid['anak'] = anak

print(murid)

{'nama': 'Andhika Widjaja', 'umur': 25, 'hobi': ['makan', 'tidur', 'jalan-jalan'], 'anak': {'nama': 'Sarah', 'umur': 5}}

In [92]:
# kita mau ambil hobi ke3 andhika
murid['hobi'][2]

'jalan-jalan'

In [94]:
# kita mau ambil umur anak muridnya
murid['anak']['umur']

5

# Percabangan (Conditional)
menggunakan `if` untuk bertanya ke komputer

In [96]:
# apakah andhika sudah berumur diatas 17 tahun?
print(murid['umur'])
print(murid['umur'] > 17)

if (murid['umur'] > 17):
    print("andhika sudah diatas 17 tahun")

25
True
andhika sudah diatas 17 tahun

In [97]:
# apakah andhika seorang lansia? (60 tahun keatas)
print(murid['umur'])
print(murid['umur'] >= 60)

if (murid['umur'] >= 60):
    print("andhika seorang lansia")

25
False

In [98]:
# biasanya if punya teman "else" untuk menjalankan code jika pertanyaannya False
if (murid['umur'] >= 60):
    print("andhika seorang lansia")
else:
    print("andhika belum menjadi seorang lansia")

andhika belum menjadi seorang lansia

In [101]:
# kita gunakan variable saja supaya gampang coba-coba
umur = 5

if (umur >= 60):
    print("seorang lansia")
else:
    print("belum menjadi lansia")

belum menjadi lansia

In [106]:
# misalnya pertanyaannya nyambung, balita <5, anak-anak <17, dewasa <60, lansia
# kita gunakan teman if yang lain, namanya else if => elif

umur = 80

if (umur < 5):
    print("balita")
elif (umur < 17):
    print("anak-anak")
elif (umur < 60):
    print("dewasa")
else:
    print("lansia")

lansia

In [113]:
# menggunakan pass untuk placeholder tempat tulis code yang belum kepikiran sekarang
umur = 80

if (umur < 5):
    print("balita")
elif (umur < 17):
    pass
elif (umur < 60):
    print("dewasa")
else:
    print("lansia")

lansia

In [124]:
# nested if, ada if dalam if

# contoh apakah orang ini boleh naik roller coaster, minimal 120cm, atau umurnya cukup
umur = 15
tinggi = 120

if (umur < 5):
    print("balita harus bersama orang tua")
elif (umur < 17):
    if (tinggi >= 120):
        print("cukup tinggi, boleh naik")
    else:
        print("tidak boleh naik, kurang tinggi")
elif (umur < 60):
    print("dewasa, boleh naik")
else:
    print("lansia, tidak boleh naik")

cukup tinggi, boleh naik

In [110]:
# pertanyaan tentang int dan round
degree = 35

hasil1 = int(round((9*degree)/5 + 32))
hasil2 = round((9*degree)/5 + 32)
hasil3 = (9*degree)/5 + 32
print(type(hasil1), hasil1)
print(type(hasil2), hasil2)
print(type(hasil3), hasil3)

<class 'int'> 95
<class 'int'> 95
<class 'float'> 95.0

In [118]:
# pertanyaan tentang pop
buah_buahan = ['semangka', 'duku', 'jeruk', 'manggis']
print(buah_buahan)

dimakan = buah_buahan.pop() # mengeluarkan item terakhir dalam sebuah list
print(buah_buahan)

print(dimakan)

['semangka', 'duku', 'jeruk', 'manggis']
['semangka', 'duku', 'jeruk']
manggis

# Perulangan
loop, iteration, melakukan hal sama berulang kali

In [127]:
umur = 10
while (umur < 17):
    print(umur, "dibawah 17 tahun")
    # pastikan pertanyaan while loop nya akan jadi False dengan mengubah di dalam sini
    umur = umur + 1

10 dibawah 17 tahun
11 dibawah 17 tahun
12 dibawah 17 tahun
13 dibawah 17 tahun
14 dibawah 17 tahun
15 dibawah 17 tahun
16 dibawah 17 tahun

In [5]:
counter = 1
while (counter >= 0):
    print ("ok"+(counter))
    counter -=1

TypeError: can only concatenate str (not "int") to str

In [ ]:
a =

In [4]:
aplikan = [
{'umur': 11, 'skill': ['HTML']},
{'umur': 31, 'skill': ['HTML']},
{'umur': 21, 'skill': ['HTML']},
{'umur': 22, 'skill': ['HTML']},
{'umur': 41, 'skill': ['HTML']}
]

In [5]:
aplikan_valid = []
for a in aplikan:
    if (a['umur']>= 11 and a['umur']<=31):
        aplikan_valid.append(a)

In [6]:
print(aplikan_valid)

[{'umur': 11, 'skill': ['HTML']}, {'umur': 31, 'skill': ['HTML']}, {'umur': 21, 'skill': ['HTML']}, {'umur': 22, 'skill': ['HTML']}]

In [26]:
 makan_siang = {
     "nama": "nasi goreng",
     "bahan": ["Nasi","telur", "minyak","garam"]}

In [27]:
makan_siang["nama"]+=(" telur")
makan_siang["bahan"].append ("teluddr")

In [28]:
print(makan_siang)

{'nama': 'nasi goreng telur', 'bahan': ['Nasi', 'telur', 'minyak', 'garam', 'teluddr']}